.search-box {
    position: relative;
    width: 100%;
}

.search-box input {
    width: 100%;
    padding-right: 40px; /* Tạo khoảng trống cho icon bên phải */
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

.search-box input:focus + .search-icon {
    color: #007bff; /* Đổi màu icon khi input đang focus */
}
